# Ignore everything
*

# Allow specific files and directories
!go.mod
!go.sum
!main.go
!cmd/
!internal/
!pkg/
!templates/

# If you have any specific configuration files, allow them too
# !config.yaml

# Ensure no binary files are included
**/*.exe
**/*.test
**/*.prof

# Exclude any potential secrets or sensitive files
**/*.key
**/*.pem
**/*_rsa
testdata/
